# API service env template
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

# how auth behaves (userjwts or entra)
AUTH_MODE=userjwts

# Service Bus emulator
AzureServiceBus__ConnectionString=Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=local;UseDevelopmentEmulator=true;
AzureServiceBus__AnalyzeDocumentQueueName=analyze-document
AzureServiceBus__AnalysisCompletedTopicName=analysis-completed
AzureServiceBus__AnalysisCompletedSubscriptionName=document-api

# when using user-jwts inside docker:
# YOU will fill these 3 manually with your KeyId + Value:
Authentication__Schemes__Bearer__ValidIssuer=http://localhost/
Authentication__Schemes__Bearer__ValidAudiences__0=api-dev
Authentication__Schemes__Bearer__SigningKeys__0__Issuer=http://localhost/
Authentication__Schemes__Bearer__SigningKeys__0__KeyId=REPLACE_WITH_KEYID
Authentication__Schemes__Bearer__SigningKeys__0__Value=REPLACE_WITH_KEYVALUE
