# Worker service env template
ASPNETCORE_ENVIRONMENT=Development

# Service Bus emulator
AzureServiceBus__ConnectionString=Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=local;UseDevelopmentEmulator=true;
AzureServiceBus__AnalyzeDocumentQueueName=analyze-document
AzureServiceBus__AnalysisCompletedTopic=analysis-completed
AzureServiceBus__AnalysisFailedTopic=analysis-failed
